.history_page{
    text-align: center;
    background-color: #FDEBED;
    height: 53rem;
}
.history_h1{
    padding-top: 4rem;
    font-family: 'Varela Round', sans-serif;
}
.history_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 10rem 0;
}
.history_table{
    font-size: 1.5rem;
    text-align: left;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.history_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.history_table th,
.history_table td {
    padding: 12px 15px;
}
.history_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.history_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.history_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.history_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
